body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:url(img/email-pattern.png);
    
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    border-radius: 2px;
}
.box h2 {
    margin: 0px 0px 20px 25px;
    padding: 0;
    color: #fff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}
.box h5 {
    margin: 0px 0px 20px 30px;
    padding: 0;
    color: #fff;
    color: rgb(156, 97, 97);

    font-style: italic;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    border-radius: 5px;
    border-color: grey;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: grey;
    pointer-events: none;
    transition: .5s; 
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: rgb(0, 195, 255);
    font-size: 12px;
    
}

.box input[type="submit"] {
    background: transparent;
    padding: 11px 32px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(0, 195, 255);
    color: rgb(0, 174, 255);
    transition:.3s;
    
}
.box input[type="submit"]:hover {
    background: transparent;
    padding: 11px 32px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    border-color: rgb(0, 195, 255);
    color: rgb(4, 102, 102);
}
.box a{
    position: absolute;
    right: 95px;
    bottom:55px;
    color: rgb(70, 70, 70);
    cursor: pointer;
    font-size: 15px;
    font-style: italic;

}
.box-2 p{
    color:rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 25%;
    left: 10%;
    text-align: center;
    font-size: 17px;
}
.box-2 .logo{
    width: 150px;
    left: 3%;
    top: 1%;
    position: absolute;
    border-radius: 5px;
    padding-bottom: 2px; 
}
.box-2{
    position: absolute;
    top: 50%;
    left: 50%;
    float:left;
    transform: translate(19%, -50%);
    width: 399px;
    height:330px;
    padding: 40px;
    background: rgb(0, 89, 255);
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    border-radius: 2px;
}
.box-2 .sign{
    position: absolute;
    top:30%;
    left: 10%;
    font-size: 45px;
    font-family: "Myriad Pro Light";
    text-align: left;
}
.box-2 .btn1{
    background: transparent;
    padding: 10px 22px;
    cursor: pointer;
    border-radius: 5px;
    border-color: white;
    color: white;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    top:80%;
}
.box-2 .btn1:hover{
    background: transparent;
    padding: 10px 22px;
    cursor: pointer;
    border-radius: 5px;
    border-color: white;
    color: grey;
    position: absolute;
    font-family:'Open Sans', sans-serif;
    top:80%;
    transition:.2s;
}
.box-2 .line{
    background-color: white;
    width: 90%;
    height: 3px;
    position: absolute;
    top:38%;
}
#warning{
    position: absolute;
    top:65%;
    font-size: 15px;
    color:red;
}
